* {
  margin: 0;
  padding: 0;
}

Body {
  height: 100vh;
  width: 100vw;
}

.google {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: inline;
}
